<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      class="navbar-brand d-flex text-center"
      [routerLinkActive]="['active']"
      routerLink="/"
    >
      <span class="logo-letter">t</span>
      <span class="logo-letter">r</span>
      <span class="logo-letter">i</span>
      <span class="logo-letter">l</span>
      <span class="logo-letter">l</span>
      <span class="logo-letter">i</span>
      <span class="logo-letter">o</span>
      <span class="logo-letter">n</span>
      <span class="logo-word">beauty</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let item of menuItems" class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="item.link"
          >
            {{ item.text }}</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
