<div class="stories">
  <div class="video-container">
    <video class="bg-video" autoplay [muted]="true" loop>
      <source src="{{ videoUrl }}" type="video/mp4" />
    </video>
  </div>

  <div class="stories-wrapper">
    <div class="story-bg">
      <div class="story">
        <div class="story-text">
          <h1 class="story-heading">
            Welcome at <span class="story-companyName">TrillionBeauty!</span>
          </h1>
          <p class="story-paragraph">
            Get ready for the exciting shopping experience that awaits you in
            our store granting the best cosmetics.
          </p>
          <div class="btn-group button-group-shopping" role="group">
            <button type="button" class="btn-md button-shopping">
              <a routerLink="products">Shop now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
